<div ng-controller="threadCtrl" class="container">

	<h2>Realtime Thread with AngularJS and AngularFire</h2>
	<h4>Try it opening two browsers and adding / removing a Post</h4>
	
	
	<!--ADD ITEM FORM-->
	<form name="myForm">
		<div>
			<input type="text" class="form-control" ng-model="postDescription" placeholder="Add new post" required style="margin-bottom: 10px" />
		
			<button ng-click="addItem()" ng-disabled="!postDescription" class="btn btn-primary" type="button">Post</button>
		</div>
	
	</form>
	
	<hr>
	
	<!-- Beginning of Card -->
	<div class="card text-xs-center" ng-repeat="item in todos" style="border: 1px solid grey; border-radius: 5px; margin-bottom: 3%;">
		<div class="card-header" style="background-color: #d3d3d3; padding: 1%;">
			<img class="card-img-top" data-src="..." alt="Card image" style="height: 75px; width: 75px;">
		</div>
		<div class="card-block" style="padding: 1%; min-height: 200px;">
			<h4 class="card-title">Card Title</h4>
			<p class="card-text">{{item.description}}</p><small  class="text-warning"> [ {{item.id}} ]</small>
		</div>
		<div class="card-footer text-muted" style="background-color: #d3d3d3; padding: 2%;">
			
			<!--Delete Todo button-->
			<button type="button" class="btn btn-danger btn-md" ng-click="removeItem($index, item, $event)">
				<i class="icon-remove-sign"></i>Delete
			</button>
			
			<button type="button" class="btn btn-primary btn-md" id="inc" ng-click="changeStatus(item)">
				<!--COMPLETED ICON-->
				<span class="glyphicon glyphicon-thumbs-up" ng-show="item.liked"></span> Like<span ng-show="item.liked">d</span>
			</button>
			
		</div>
	</div>
	<!-- End of Card -->

</div>

